<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Empleados - Ciclo3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1> Lista de Empleados</h1>
    <!--Dibujamos la tabla-->
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Empresa</th>
            <th>Rol</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <!--Llenamos la tabla dibujada-->
        <!--En nuestro controller, creamos en viewEmpresa un modelo con un atributo llamado emplist donde esta guardada la lista de todas las empresas-->
        <tr th:each="empleado : ${empllist}">
            <td th:text="${empleado.id}"></td>
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.correo}"></td>
            <td th:text="${empleado.empresa}"></td>
            <td th:text="${empleado.rol}"></td>
            <td><button type="button" class="btn btn-warning"><a th:href="@{/editarEmpleado}">Editar</a></button></td>
            <td><button type="button" class="btn btn-danger"><a th:href="@{/eliminarEmpleado}">Eliminar</a></button></td>
        </tr>
    </table>


</div>

</body>
</html>